body {
    background-color: darkseagreen;
    text-align: center;
    margin-top: 10%;
}

.image {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: auto;
}

#display-image {
    max-width: 100%;
    height: auto;
}

#user-input {
    margin-bottom: 5px;
}

.invisible-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    outline: inherit;
    position: fixed;
    bottom: 0px;
}

/* Optional: change color when hovering */
.invisible-button:hover {
    color: darkblue;
}